<!DOCTYPE html>
<html>
<head>
  <title>GoalApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
<h2> Sign Out</h2>
  <%= current_user.username %>
  <%= button_to "Sign Out", session_url, method: :delete %>

<% else %>
  <h2>Sign In</h2>
  <h2>Sign Up</h2>
  <%= button_to "Sign In", new_session_url, method: :get %>
<% end %>

<%= yield %>

</body>
</html>
